<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jx.blog.Dao.TagDao">


    <select id="selectAllTags" resultType="com.jx.blog.entity.Tags">
        select * from tags;
    </select>
</mapper>